html, body {
    height: 100%;
}
main {
    width: 100%;
    display: table;
}
header.page-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/ingredients-1920w.jpg);
    display: block;
    height: 320px;
    width: 480px;
    color:white;
    background-blend-mode: multiply;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

}

header.page-header > h4 {
    font: 'Dancing Script', cursive,fantasy;
    margin: 2%;
    color: #FBB846;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

nav.stats >h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:block;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;

}
nav.stats > h5 >strong {
    color: #FBB846;
    margin-left: auto;
    margin-right: auto;


}
header.page-header> h6 {
text-align: center;
display: inline-block;
margin-left: auto;
margin-right: auto;
}

header.page-header > h2 {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

header.page-header > nav > h5 {
    text-align: justify;
    padding-left: 4px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;

}

header.page-header > nav > h5 >strong {
 text-decoration: underline;
 display: inline-flex;
 margin-left: auto;
 margin-right: auto;


}
span.navbar {
    margin-left: auto;
    margin-right:auto;
}
article.content > img {
     height: 350px;
     width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article.content > h2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

article.content {
    background: fixed;
    display: contents;
    background-color: white;
}

div.container > span.navbar > li>a {
    
    color: #FBB846;
    display: block;
    text-align: justify;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.container > span.navbar {
    background-color: #2A2B32;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
div.container {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    
}

section.ingredients > ul.ing {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

section.process {
    margin-left: auto ;
    margin-right: auto;
}

section.process > ol > li.mix {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

section.process > ol > img {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    max-width: 100%;
    max-height: 100%;
}

section.ingredients > h3 {
    display: inline;
    vertical-align: middle;
}

.footer {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

footer > p {
    display: inline;
    margin-left: auto;
}

section.result > img {
    display: block;
    justify-content: center;
    viewport-fit: inherit;
}